<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thumbnails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thumbnail.css') }}">
</head>
<body>
    <h1>Thumbnails</h1>
    <div id="thumbnails">
        {% for thumbnail in thumbnails %} 
            <div class="thumbnail">
                <img src="{{ url_for('static', filename='frames/'+thumbnail['path']) }}" alt="{{ thumbnail['filename'] }}">
                <p>{{ thumbnail['filename'] }}</p>
            </div>
            <form action="{{ url_for('classify_image', filename=thumbnail['filename']) }}" method="post">
                <button type="submit" class="classify-button">Classify</button>
            </form>
        {% endfor %}
    </div>
    
    </body>
</html>
